In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
#Impoering Dataset
df=pd.read_excel(r'C:\Users\FLUTE\Desktop\Data1.xlsx')

In [16]:
df

   Country       Age         Salary  Purchased
0   France  44.000000  72000.000000         No
1    Spain  27.000000  54000.000000        Yes
2  Germany  30.000000  48000.000000         No
3    Spain  38.000000  61000.000000         No
4  Germany  40.000000  63777.777778        Yes
5   France  35.000000  58000.000000        Yes
6    Spain  38.777778  52000.000000         No
7   France  48.000000  79000.000000        Yes
8  Germany  50.000000  83000.000000         No
9   France  37.000000  67000.000000        Yes

In [17]:
X=df.iloc[:,:-1].values
y=df.iloc[:,3].values

In [ ]:
#Taking care of missing values
from sklearn.preprocessing import Imputer
imputer=Imputer(missing_values='NaN',strategy='mean',axis=0)
imputer=imputer.fit(X[:,1:3])
X[:,1:3]=imputer.transform(X[:,1:3])

In [19]:
#Encoding categorical Data
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [24]:
labelencoder_X=LabelEncoder()
labelencoder_X.fit_transform(X[:,0])
onehotencoder=OneHotEncoder()
X=onehotencoder.fit_transform(X).toarray()
labelencoder_y=LabelEncoder()
labelencoder_y.fit_transform(y)

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [30]:
#Spliting the dataset into training set and Test set
from sklearn.model_selection import train_test_split
X_test, X_train, y_test,y_train=train_test_split(X,y,test_size=0.2,random_state=0)

In [31]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.transform(X_test)